*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-menu li{
    padding: 10px;
}

.nav-click{
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

.nav li:first-child{
    padding-left: 10px;
}

.nav li:hover .nav-click{
    color: black;
}

.image{
    width: 80px;
}

.image img{
    width: 100%;
    height: 100%;
}